body {
  background-color: #100e17;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.info-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #1e1c2c;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.info-container .btn {
  padding: 0.5rem 1rem;
  width: 16.5%;
  margin-top: 1rem;
}

.contract-info p {
  margin-bottom: 0.5rem;
}

.interaction-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container,
.actions-container {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #1e1c2c;
  border-radius: 1rem;
  width: 100%;
  margin-left: 8px;
}

.container:last-child {
  margin-right: 0;
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #2172e5;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1rem;
  width: 33%;
}

.btn:hover {
  background-color: #2e86ff;
}

.connected-address {
  font-size: 0.9rem;
  color: #a3b1c6;
  display: none;
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-field {
  background-color: #2a2a2e;
  border: 1px solid #343540;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
